{{define "fixed"}}
{{template "signal_header" .}}
// {{ .Name }} is {{ .Builtin }} {{ .Interface }} fixed-point signal.
type {{ .Name }} struct {
	buffer []{{ .Builtin }}
	channels
	bitDepth
}

// {{ .Allocator }} allocates a new sequential {{ .Builtin }} signal buffer.
func (a Allocator) {{ .Allocator }}(bd BitDepth) {{ .Interface }} {
	return &{{ .Name }}{
		buffer:   make([]{{ .Builtin }}, a.Channels*a.Length, a.Channels*a.Capacity),
		channels: channels(a.Channels),
		bitDepth: limitBitDepth(bd, {{ .MaxBitDepth }}),
	}
}

// Get{{ .Allocator }} selects a new sequential {{ .Builtin }} signal buffer.
// from the pool.
func (p *PoolAllocator) Get{{ .Allocator }}(bd BitDepth) {{ .Interface }} {
	s := p.{{ .Name }}.Get().(*{{ .Name }})
	s.channels = channels(p.Channels)
	s.buffer = s.buffer[:p.Length*p.Channels]
	s.bitDepth = limitBitDepth(bd, {{ .MaxBitDepth }})
	return s
}

// AppendSample appends sample at the end of the buffer.
// Sample is not appended if buffer capacity is reached.
// Sample values are capped by maximum value of the buffer bit depth.
func (s *{{ .Name }}) AppendSample(value {{ .SampleType }}) {
	if len(s.buffer) == cap(s.buffer) {
		return
	}
	s.buffer = append(s.buffer, {{ .Builtin }}(s.BitDepth().{{ .Interface }}Value(value)))
}

// SetSample sets sample value for provided index.
// Sample values are capped by maximum value of the buffer bit depth.
func (s {{ .Name }}) SetSample(i int, value {{ .SampleType }}) {
	s.buffer[i] = {{ .Builtin }}(s.BitDepth().{{ .Interface }}Value(value))
}
{{template "signal" .}}
{{end}}